#for plotting
pandas
numpy
matplotlib
seaborn
plotly
#for machine learning
scikit-learn
imbalanced-learn
mlxtend
#classification
xgboost
lightgbm
catboost
#deep learning
tensorflow
keras
torch
torchvision
torchaudio
#helpfull tools
requests
beautifulsoup4
jupyterlab
notebook
tqdm
joblib
optuna
nltk
spacy

